<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job List</title>
</head>
<body>
    <h1>Job List</h1>
    <form method="GET">
        {{ form.as_p }}
        <button type="submit">Поиск</button>
    </form>

    <ul>
        {% for job in jobs %}
            <li>
                <h2>{{ job.title }}</h2>
                <p>Компания: {{ job.company }}</p>
                <p>Зарплата: {{ job.salary }}</p>
                <p>Навыки: {{ job.skills }}</p>
                <p>Адрес: {{ job.metro }}</p>
                <p>Опыт: {{ job.experience }}</p>
                <p>Удаленная работа: {{ job.remote }}</p>
                <a href="{{ job.link }}">Подробнее</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
